body{
	background: #33ffbb;
}
h1{

    text-align: center;background:#6f6f6f 
}
p {
	text-align: center;
}
#leo{
style="font-size:20px; text-align: center;"}

em strong {
	color:red;

}
